[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "third_party/stlink"]
	path = third_party/stlink
	url = https://github.com/stlink-org/stlink.git
[submodule "rtlSdrForAndroid/src/main/cpp/third_party/rtl-sdr"]
	path = rtlSdrForAndroid/src/main/cpp/third_party/rtl-sdr
	url = https://gitea.osmocom.org/sdr/rtl-sdr.git
